body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff url("./bg.png");
}

main {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #dee2e6;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: white;
}

.offcanvas-top {
    height: fit-content;
}

hr {
    background-color: rgba(0, 0, 0, .125);
    opacity: 1;
}

select {
    width: auto !important;
}

.badge {
    margin-top: 10px;
    margin-right: 10px;
}